<!DOCTYPE html>
<html>
<head>
<title>NaijaSmartTools</title>
<link rel="stylesheet" href="/css/style.css">
<!-- inside <head> -->
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#22c55e">
</head>

<body>

<nav class="navbar">
<h1 class="logo">NaijaSmartTools</h1>

<ul class="nav-links">
<li><a href="/">Home</a></li>
<li><a href="/tools/index.html">Tools</a></li>
<li><a href="#">Blog</a></li>
</ul>
</nav>

<header class="hero">

<h2>Smart Online Tools for Nigerians</h2>
<p>Free tools for business, school and everyday use.</p>

<a class="btn" href="/tools/pos.html">Use POS Calculator</a>

</header>

<section class="tools">

<h3>Popular Tools</h3>

<div class="tool-grid">

<a href="/tools/pos.html" class="tool-card">
POS Charge Calculator
</a>

<a href="/tools/loan.html" class="tool-card">
Loan Calculator
</a>

</div>

</section>

<button id="installBtn" class="btn" style="display:none;">
Install NaijaSmartTools
</button>
<script>
let deferredPrompt;
const installBtn = document.getElementById('installBtn');

window.addEventListener('beforeinstallprompt', (e) => {
  e.preventDefault();
  deferredPrompt = e;
  installBtn.style.display = 'block';
});

installBtn.addEventListener('click', async () => {
  installBtn.style.display = 'none';
  deferredPrompt.prompt();
  const { outcome } = await deferredPrompt.userChoice;
  console.log('User response to install:', outcome);
  deferredPrompt = null;
});
</script>
<footer>

<p>© 2026 NaijaSmartTools</p>

</footer>
<!-- before </body> -->
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/service-worker.js')
  .then(() => console.log('Service Worker Registered'));
}
</script>
</body>
</html>
